.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.toolbar {
  height: 3em;
  top: 0;
  position: fixed;
  z-index: 2;
}

.mat-raised-button {
  color: black;
}

.nav-button {
  margin: 0 0.5em;
}
