<mat-toolbar class="toolbar" color="primary" role="header">
  <mat-toolbar-row>
    <span>Coffee App</span>
    <span class="example-spacer"></span>
    <button mat-raised-button class="nav-button" (click)="navigateTo('coffee')">
      Coffee
      <mat-icon>free_breakfast</mat-icon>
    </button>
    <button mat-raised-button class="nav-button" (click)="navigateTo('login')">
      Login
      <mat-icon>person</mat-icon>
    </button>
    <button mat-raised-button class="nav-button" (click)="navigateTo('admin/coffee')">
      Admin
      <mat-icon>person</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>