<div class="card-display">
  <mat-card class="coffee-card" *ngFor="let coffee of coffees">
    <h2>{{ coffee.name }}</h2>
    <p>
      {{ coffee.region }}
    </p>
    <p>
      <button mat-mini-fab color="primary">
        <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
      </button>
      <button mat-mini-fab color="warn" (click)="deleteCoffee(coffee)">
        <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
      </button>
    </p>
  </mat-card>

  <mat-card class="coffee-card" *ngIf="creatingCoffee">
    <mat-form-field floatLabel="always">
      <input matInput placeholder="Name" [(ngModel)]="coffeeToCreate.name" name="name" />
    </mat-form-field>
    <mat-form-field floatLabel="always">
      <input matInput placeholder="Region" [(ngModel)]="coffeeToCreate.region" name="region" />
    </mat-form-field>
    <p>
      <button mat-mini-fab color="primary" (click)="addCoffee()">
        <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
      </button>
      <button mat-mini-fab color="warn" (click)="cancelCreateCoffee()">
        <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
      </button>
    </p>

  </mat-card>
</div>

<button mat-fab color="primary" (click)="createCoffee()" [disabled]="creatingCoffee">
  <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
</button>