<mat-progress-bar mode="indeterminate" *ngIf="loginPending">
</mat-progress-bar>

<div class="center">
  <mat-card class="login-card">
    <form class="example-form">

      <mat-form-field floatLabel="always">
        <input matInput placeholder="Username" [(ngModel)]="username" name="username" />
      </mat-form-field>

      <mat-form-field floatLabel="always">
        <input matInput placeholder="Password" [(ngModel)]="password" name="password" type="password" />
      </mat-form-field>

      <button mat-raised-button color="accent" (click)="login()">
        Login
        <mat-icon>lock</mat-icon>
      </button>

    </form>
  </mat-card>
</div>