.example-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-card {
    margin: 0 auto;
    width: 30%;
}

.center {
    display: flex;   
}