.example-sidenav-content {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.example-sidenav {
  padding: 20px;
  top: 7em;
  position: fixed;
}

.mat-drawer-container {
  background-color: white;
}

.filter-menu-toggle {
  top: 5em;
  position: fixed;
}

.mat-drawer-container {
  /* margin-top: 6em; */
  z-index: 1;
}

.regionHeader {
  margin: 2em 0 0 0.5em;
}