
<button mat-icon-button color="black" class="top-margin" (click)="toggleFilterMenu()">
  <mat-icon aria-label="Example icon-button with a heart icon">{{ filterIcon }}</mat-icon>
</button>

<mat-drawer-container autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-card>
      <mat-card-content>
        <h1 class="example-h2">Filter</h1>
        <mat-divider></mat-divider>
        <h2 class="regionHeader">Region</h2>
        <mat-selection-list (selectionChange)="regionFilterChange()">
          <mat-list-option *ngFor="let coffee of coffees">
            {{coffee.region}}
          </mat-list-option>
        </mat-selection-list>
      </mat-card-content>
    </mat-card>
  </mat-drawer> 

  <div class="example-sidenav-content">
    <ng-container *ngFor="let coffee of coffees">
      <mat-card class="coffee-card" *ngIf="coffee.visible">
        <h2>{{ coffee.name }}</h2>
        <p>
          {{ coffee.region }}
        </p>
      </mat-card>
    </ng-container>
  </div>

</mat-drawer-container>